h1 {
    color: rgba(0, 0, 0, 0.5);
}

.img-view {
    border-radius: 15px;
    max-height: 50vh;
    max-width: 70%;
}

p {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

button, a {
    text-transform: uppercase !important;
}
