label{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.image-container{
    width: 75px;
    height: 75px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
}

.image-container img {
    margin: 1px;
    width: 90%;
    height: 90%;
}

.image-container p {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 10;
    font-weight: 500;
}

input[type="file"] {
    display: none;
    width: 90%;
    height: 90%;
}